apiVersion: apps/v1
kind: Deployment
metadata:
  name: mi-aplicacion
  namespace: mi-proyecto
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mi-aplicacion
  template:
    metadata:
      labels:
        app: mi-aplicacion
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80